body{
    background-color: #ffffff;
}

/*selektor znaczkika*/
p{
    color: orange;
}
/*selektor id*/
#paragraph{
    color: blue;    
}
/*łączenie selektorów*/

a, span, div{
    color: green;    
}

/*selektor bezpośredniego elementu potomnego*/

ul a{
    color:blue;
    text-decoration: none;
}
